:root {
  --mainBlue: #3131bd;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: 'Oswald', sans-serif;
  color: var(--mainDark) !important
}
.text-title {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
/* Nav */
#navbar {
  background: black;
}
#navbar .cart-btn {
  background: none;
  border: 1px solid black;
}
#navbar ul a {
  font-size: 1.2em;
}
#navbar .cart {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
  border: 1px solid white;
}
#navbar .fa-circle {
  font-size: 0.5rem;
}
/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: #a9ffa9;
  width: 300px;
  height: auto;
  padding: 1em 0;
  transform: translateY(50%);
  color: green;
  border: 1px solid green;
  border-radius: 5px;
}
/* Product */
.item-card {
  border: 0;
  box-shadow: 0px 0px 5px #0000002e;
}
.item-card:hover {
  box-shadow: 0px 0px 5px #00000066;
}
.item-card:hover .btn-cart {
  bottom: -75px;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #00000000;
  justify-content: center;
  align-items: center;
  gap: 35px;
  opacity: 0;
  /* opacity: 1; */
  flex-direction: column;
  transition: opacity 0.2s ease-in-out, backgroundColor 0.2s ease;
}
.item-card:hover .product-overlay {
  opacity: 1;
  background-color: #0000000c;
}
.product-overlay button,
.product-overlay a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  background: rgba(255, 255,255, 0.9);
  width: 100px;
  height: 40px;
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
.product-overlay a:visited {
  /* color: white; */
}
.btn-cart {
  background: black;
  border: none;
  color: white;
  position: absolute;
  bottom: -155px;
  right: -70px;
  border-radius: 100px;
  font-size: 2em;
  width: 150px;
  height: 150px;
  transition: bottom 0.2s ease-in-out;
}
.card-footer {
  background: black;
  color: white;
}
/* Product details */
.details .price {
  background: white;
  padding: 0.7rem 1rem;
  color: black;
  border: 1px solid black;
  width: fit-content;
}
.details .actions a,
.details .actions button {
  border: 1px solid black;
  background: black;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background 0.2s ease-in, color 0.2s ease-in;
}
.details .actions a:hover,
.details .actions button:hover {
  background: white;
  color: black;
}
.details .info {
  font-size: 1.1rem;
  margin: 1rem 0 0 0;
}
.details .quantity-container button {
  border: 1px solid black;
  background: transparent;
  height: 30px;
  width: 30px;
}
.details .quantity-container label {
  font-size: 1.1em;
  margin-bottom: 5px;
}
.details .quantity-container input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 0;
  padding: 0;
  background: black;
  color: white;
  margin: 0;
}
.details .quantity-container input:focus {
  outline: 0;
}
.details .quantity-container input::-webkit-outer-spin-button,
.details .quantity-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.details .quantity-container input[type=number]{
  -moz-appearance: textfield;
}
/* Cart */
.cart-container .quantity span {
  /* width: 40px; */
}
.cart-container .quantity span:nth-child(2) {
  border: 0;
  outline: 0;
}
.cart-container p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.cartlist-container > div:nth-of-type(odd) {
  background: #8080800f;
}
.cart-container .fa-trash {
  font-size: 1.5rem;
}
